*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family:"Poppins", sans-serif ;
    font-weight: 400;
}
.mainContent{

    margin-left: auto;
    margin-right: auto;
}



  .navlinks{
    background-color: #000;
  }
.img{
    width: 20%;
}

.connect{
    background-color: #ec00bf;
}
.connect:hover{
    background-color: #c210a1;
    
}
.top{
margin: -8px;



}
.top a,li,ul{
 color: white; 
}   

.install{
    color: white;
}

.header{
    top: 0;
    position: sticky;
}
/* .navbtn{
    color: white;
    background: none !important; 
    transition:all.3s ease
} */
.navbtn:hover{
    color: #ec00bf !important;
}

