*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.body{
    
    background-color: black;
    font-family:"Poppins", sans-serif ;
    font-weight: 400;
   
    margin-left: auto;
    margin-right: auto;
    
}
.mainContent{
width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.burger{
    
    background-color: #ec00bf;
}


  .navlinks{
    background-color: #000;
  }
.logo{
    width: 20%;
}

.connect{
    background-color: #ec00bf; 
    font-weight: 300;
    font-size: 14px;
}
.connect:hover{
    background-color: #c210a1;
    
}
.top{
margin: -8px;
color: #0000;


}
.top a,li,ul{
 color: white; 
}   

.install{
    color: white;
}

.header{
   
    position: sticky;
}
/* .navbtn{
    color: white;
    background: none !important; 
    transition:all.3s ease
} */
.navbtn:hover{
    color: #ec00bf !important;
}

.firstSection{
    width: 80%;
    display: flex;
    margin: 163px 0px 0px 30px
}

.firstSectionImg img{
    border-radius: 10%;
    max-width: 601px;
}
.firstSectionContent{
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 0px 4px 4px 36px
}
.firstSectionContent h3,span{
    font-size: 70px;
}
.firstSectionContent button{
    background-color: #171717;
    border: 1px solid #ec00bf;
    color: #ec00bf;
}
.firstSectionContent h4{
    color: #ec00bf;
    font-size: 70px;
}
.secondSection{
    width: 80%;
    display: flex;
    margin: 318px 0px 0px 0px
}
.secondSectionImg{
    max-width: 485%;

}
.secondSectioncontent{
    color: white;

}
.secondSectionImg2{
max-width: 485px;
padding: 50px 0px 0px 0px
}